.objectListBgdToTest .sapMObjLItem {
	background-color: transparent;
}

.objectListBgdToNone {
	background-color: transparent;
	/* @extend .sapMLIB .sapMObjLItem; */
}

.sapMLIB .sapMObjLItem {
	composes: objectListBgdToNone;
}

.customDialog {
	/* align-items: center; */
}

.customBackdrop {
	/* align-items: center; */
}
