.objectListBgdToTest .sapMObjLItem {
  background-color: transparent;
}

.objectListBgdToNone {
  background-color: transparent;
  /* @extend .sapMLIB .sapMObjLItem; */
}

.sapMLIB .sapMObjLItem {
  composes: objectListBgdToNone;
}
